<div class="about-container">
    <!-- Banner Inicial -->
    <div class="banner">
      <h1>Bem-vindo à nossa loja de Crocs com personagens de desenho animado!</h1>
      <p>
        Nossa loja é especializada em trazer diversão e conforto para os pés dos
        fãs de personagens de desenho animado! Explore nossas coleções de Crocs
        com seus personagens favoritos e traga um pouco de magia para o seu
        estilo diário!
      </p>
    </div>
  
    <!-- Conteúdo da página Sobre Nós -->
    <div class="content">
      <p>
        Desde nossa criação, estamos comprometidos em oferecer produtos de alta
        qualidade com design divertido. Cada peça foi pensada para garantir o
        máximo conforto e estilo para nossos clientes.
      </p>
    </div>
  
    <!-- Seção de Redes Sociais -->
    <hr />
    <div class="social-media">
      <h2>Nossas redes sociais!</h2>
      <div class="icons">
        <a href="https://www.instagram.com" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.youtube.com" target="_blank">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
  