.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #13161E;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.8em;
  }
  
  .navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navigation a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .navigation a:hover {
    text-decoration: underline;
  }
  
  .navigation ul li {
    display: inline;
  }
  